<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Subject </title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="subject" href="/subject">Exam</a>
          <a class="nav-item nav-link" id="result" href="/result">Result</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
<h1>CHOOSE SUBJECT</h1>
{% if subject %}
    <table border=3><tbody>
    <tr><th>SUBJECT NAME</th></tr>
{% for row in subject %}
     <tr><td><a id="sub_name" href="/question/{{row.subject_name}}"> {{ row.subject_name }} </a></td></tr>
{% endfor %}
    </tbody></table>
{% endif %}
</body>
</html>
